<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Welcome</h1>

  <!-- <form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
 </form> -->
 <form action="/testapp/" method="GET">
   {% csrf_token %}
    <label >內容查詢</label>
    <input id="first" type="text" name="first">
    <!-- <label >第二數字</label>
    <input id="second" type="integer" name="second"> -->
    <!-- {{ f.as_p }} -->
    <input type="submit" value="Submit" />
</form>
</body>
</html>
